<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/registerstyle.css" rel="stylesheet">
    <title>Registration</title>
  
</head>
<body class="body">
    <div class="maincontainer">
        <div class="subcontainer">
         <h1>Tech news, trends and companies - just for you.</h1>
         <h3>Join our community to stay current on tech and grow your skills.</h3>
         <div class="parentinputbox">
          <form action="/joining/employeelogin" method="post" id="form">
         <div class="inputbox">
            <input type="email" placeholder="Email Address" name="email">
            <label for="email">Email</label>
         </div>
         <div class="inputbox">
            <input type="password" placeholder="Password" name="password">
            <label for="password">Password</label>
         </div>
         <h2><a href="javascript:" style="color:white;margin-left:70px;" onclick="document.getElementById('form').submit();"> Log in</a></h2>
       
         <h2><a href="/joining/employeeRegister" style="color: white;margin-left:70px;"> Sign up</a></h2> </form>
        </div>
    </div>
      <div class="footer">
        <h5>Before signing up the page. Please read the terms and policy!</h5>
      </div>
    </div>
    <script src="../javascript/employerscript.js"></script>
</body>
</html>