<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/registerstyle.css" rel="stylesheet">
    <title>Registration</title>
  
</head>
<body class="body">
    <div class="maincontainer">
        <div class="subcontainer">
         <h1>Tech news, trends and companies - just for you.</h1>
         <h3>Join our community to stay current on tech and grow your skills.</h3>
         <div class="parentinputbox">
            <form method="post" action="/joining/employerRegister" class="registerform">
         <div class="inputbox">
            <input type="name" placeholder="Name" name="name">
            <label for="name">Name</label>
         </div>
         <div class="inputbox">
            <input type="email" placeholder="Email Address" name="email">
            <label for="email">Email</label>
         </div>
         <div class="inputbox">
            <input type="password" placeholder="Password" name="password">
            <label for="password">Password</label>
         </div>
         <div class="inputbox">
            <input type="text" placeholder="Confirm Password" name="confirmpassword">
            <label for="confirmpassword">Confirm Password</label>
         </div>
         <div class="optionbased off" id="optionbased">
          
            <div class="option1"><h1><input name="option" id="optioncheck" value=<%=option1%> hidden><%=option1%></h1><img src="../Images/downarrow.png" width="20" height="20"></div>
            <hr style="color: aliceblue;width:200px;display:none;" class="line">
            <div class="option2"><h1><%=option2%></h1></div>
         </div>
         <h4><a href="#" style="color: #2d6ffd;" class="signup">SignUp</a></h4>
         <h2> Already have an account?<a href="/joining/employeelogin" style="color: #2d6ffd;"> Log in</a></h2>
        </form>
        </div>
    </div>
      <div class="footer">
        <h5>Before signing up the page. Please read the terms and policy!</h5>
      </div>
    </div>
    <script src="../javascript/employerscript.js"></script>
</body>
</html>