<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recruitment Firm</title>
    <link href="../css/style.css" rel="stylesheet">
</head>
<body>
    <div class="container">
    <div class="topbar">
        <img src="../Images/logo1.png" class="logo">
        <div class="menu">
            <div class="employeebutton">For Employees</div>
         <h2 class="joinbutton">Join</h2>
         <h2>|</h2>
         <h2 class="loginbutton">Log In</h2>
        </div>
    </div>
    <div class="navigation">
        <div class="subnav">
    <span>Jobs</span>
    <span>Companies</span>
    <span>Articles</span>
    <span>About Us</span>
       </div>
    </div>
    <div class="boxcenter">
      <div class="subboxcenter">
         <div class="toptext">RECRUITING ON GOING</div>
         <div class="title">Many Companies are looking for perfect candidate for their company venture</div>
         <div class="subtitle">Check out some of the examples in the industies listed below:</div>
         <img src="../Images/centerimage.avif" class="centerimg">
         <div class="subtitle add">Careers Page Tips for Design and Content</div>
         <hr style="background-color: aqua;height:2px;border:none;margin-top:-15px;"/>
         <p style="color: black; font-size: 20px; margin-top:30px;">The design and content of your careers page play a major role in how candidates perceive your company and whether or not they go on to apply. While your careers page should accurately reflect your company, 
            a few easy-to-implement tips will help you level up. We’ve broken it down to three main elements</p>
            <div class="subtitle add">Essential Elements for a Career Page</div>
         <hr style="background-color: aqua;height:2px;border:none;margin-top:-15px;"/>
         <p style="color: black; font-size: 20px; margin-top:30px;">The design and content of your careers page play a major role in how candidates perceive your company and whether or not they go on to apply. While your careers page should accurately reflect your company, 
            a few easy-to-implement tips will help you level up. We’ve broken it down to three main elements</p>
      </div>
    </div>
    <div class="footer">
        <div class="imagemenu">
        <img src="../Images/logo1.png" class="logo">
        <div class="socialicons">
            <img src="../Images/facebook.png" width="30" height="30">
            <img src="../Images/instagram.png" width="30" height="30">
            <img src="../Images/twitter.png" width="30" height="30">
            <img src="../Images/youtube.png" width="30" height="30">
        </div>
        </div>
        <div class="footermenu">
            <div class="submenu">
                <h1>About</h1>
                <h5>Careers</h5>
                <h5>Staff</h5>
                <h5>Description</h5>
                <h5>Content</h5>
            </div>
            <div class="submenu">
                <h1>Resources</h1>
                <h5>Customer</h5>
                <h5>Support</h5>
                <h5>Report</h5>
                <h5>Tech</h5>
            </div>
            <div class="submenu">
                <h1>Jobs</h1>
                <h5>Engineering</h5>
                <h5>Software</h5>
                <h5>Warehouse</h5>
                <h5>Technical</h5>
            </div>
        </div>
       </div>
   </div>
   
   </div>

    <script src="../javascript/script.js"></script>
</body>
</html>