<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
   .employeebutton
   {
    background-color:  #333d90;
    width:140px;
    height:45px;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    margin-right:10px;
    color: aliceblue;
   } 
   .employeebutton a
   {
    color: white;
    text-decoration: none;
   }
    </style>
</head>
<body>
    <h2 style="color: #333d90;">Job Posted!</h2>
    <div class="employeebutton" ><a href="/joining/jobpostform">Back to post</a> </div>
</body>
</html>